body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

/* Layout Umum */
.dashboard-container {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
}

/* Sidebar */
.sidebar {
  width: 220px;
  background-color: #111111;
  color: white;
  display: flex;
  flex-direction: column;
  border-right: 2px solid rgb(58, 58, 58);
}

.sidebar-header {
  padding: 20px;
  box-shadow: 0 4px 4px rgba(0,0,0,0.3);
  z-index: 999;
}

.sidebar-header h3 {
  margin: 0;
  font-size: 20px;
}

.sidebar-menu {
  list-style: none;
  padding: 0 10px;
  margin: 0;
}

.sidebar-menu li {
  margin: 15px 0;
}

.sidebar-menu a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 8px;
  border-radius: 4px;
}

.sidebar-menu a:hover {
  background-color: #272727;
}

/* Main Content */
.main-content {
  flex: 1;
  background-color:#272727;
  overflow-y: auto;
  color: white;
  
}

.main-header {
  background-color: #111111;
  color: white;
  padding: 3px 20px;
  box-shadow: 0 4px 4px rgba(0,0,0,0.3);
}

.form-container {
  padding-left: 40px;
  width: 40rem;
}
.form-container h4{
  font-size: 25px;
}

/* Form Styling */

form input[type="text"],
form textarea,
form select,
form input[type="file"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border-radius: 10px;
}

form input[type="submit"] {
  padding: 10px 20px;
  background-color: #3a3a3a;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

form input[type="submit"]:hover {
  background-color: #4b4b4b;
}
.table-container{
  background-color: #272727;
}
table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

table thead th {
  color: rgb(141, 141, 141);
  background-color: #272727;
  font-weight: bold;
}

table th, table td {
  color: rgb(255, 255, 255);
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #3f3f3f; /* border antar sel */
}

table tbody tr:hover {
  background-color: #333232; /* warna hover lebih terang */
}

img {
  max-width: 100px;
  height: auto;
  border-radius: 4px;
}
